snippet nécess "nécessaire"
nécessaire
endsnippet

snippet today
`date /t`
endsnippet

snippet now
`!v strftime("%X")`
endsnippet
# `echo %time%`

# snippet clock
# `!v strftime("%x-%X")`
snippet clock
`!v strftime("%x-%H%M%S")`
endsnippet

