.netrwhist
plugged/ultisnips
plugged/undotree
plugged/vim-markdown
plugged/vimtex
# ftplugin/dosbatch.vim
# ftplugin/markdown.vim
undo/
view/
vimrc~
vimrx~
vimry~
vimrz~
.vimrc.un~ 
*.swp
UltiSnips/tex_castel.ogsnippets 
autoload/plug.vim
